<!DOCTYPE html>
<html>
<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.rowclass
{
	margin: 50px;
}
</style>
</head>
<body>

<div class="w3-container w3-teal">
  <h2>Input Form</h2>
</div>
<br><br>



<div class="w3-card-4">
<br><br>
	<div>
    	<label for="favorite-animal" style="margin:30px;margin-left:50px;">Teacher Assigmnt Marks</label><br><br>
	</div>
<form class="w3-container" style="margin-left:20%;">		
        <table style="margin:30px;spacing:15px;" cellspacing="15">
        	<tr class="rowclass">
        		<td>
                        <label >TAE-1</label>
                </td>
                <td>
                    <div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="One">
  				    </div>
            	</td>
                <td>
                		<label >TAE-2</label>
                </td>
                <td>
  			    	<div class="w3-third">
   		       			 <input class="w3-input w3-border" type="text" placeholder="Two">
  			    	</div>
                </td>
                <td>
                 <label >TAE-3</label>
                </td>
                <td>
  					<div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="Three">
  					</div>
           		</td>
                <td>
                 <label >TAE-4</label>
                </td>
                <td>
  					<div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="Four">
  					</div>
           		</td>
        <tr>
        <tr class="rowclass">
        		<td>
                        <label >TAE-5</label>
                </td>
                <td>
                    <div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="Five">
  				    </div>
            	</td>
                <td>
                		<label >TAE-6</label>
                </td>
                <td>
  			    	<div class="w3-third">
   		       			 <input class="w3-input w3-border" type="text" placeholder="Six">
  			    	</div>
                </td>
                <td>
                 <label >TAE-7</label>
                </td>
                <td>
  					<div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="Seven">
  					</div>
           		</td>
          </tr>
	</table>




</form>



                         <!--  ____________________________        cae section    __________________________________________________          -->
                         
<br><br>
	<div>
    	<label for="favorite-animal" style="margin:30px;margin-left:50px;">Class Assigenement Marks</label><br><br>
	</div>
<form class="w3-container" style="margin-left:20%;">		
        <table style="margin:30px;spacing:15px;" cellspacing="15">
        	<tr class="rowclass">
        		<td>
                        <label >TAE-1</label>
                </td>
                <td>
                    <div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="One">
  				    </div>
            	</td>
                <td>
                		<label >TAE-2</label>
                </td>
                <td>
  			    	<div class="w3-third">
   		       			 <input class="w3-input w3-border" type="text" placeholder="Two">
  			    	</div>
                </td>
                <td>
                 <label >TAE-3</label>
                </td>
                <td>
  					<div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="Three">
  					</div>
           		</td>
                <td>
                 <label >TAE-4</label>
                </td>
                <td>
  					<div class="w3-third">
    					<input class="w3-input w3-border" type="text" placeholder="Four">
  					</div>
           		</td>
        
	</table>
   
<br><br>
<center><input type="submit" value="Submit"></center>

</form>
</div>

</body>
</html> 